.button {
	align-items: center;
	background-color: transparent;
	border: 2px solid currentColor;
	border-radius: 8px;
	color: var(--c-primary);
	display: inline-flex;
	gap: 0.5em;
	padding: 0.5em 1em;

	&:hover:enabled,
	&:focus-visible:enabled {
		text-decoration: underline;
	}

	svg {
		height: 1em;
		width: 1em;
	}

	code,
	span,
	svg {
		pointer-events: none;
	}
}