@use "../base/breakpoints";

.wp-block-columns {
	display: grid;
	gap: var(--spacer);
	overflow: hidden;

	@include breakpoints.media-breakpoint-up(sm) {
		&.has-two-columns {
			grid-template-columns: repeat(2, 1fr);

			.resizable {
				max-width: calc(var(--container-max) / 2 - calc(var(--spacer) / 2));
			}

			&--thirds {
				grid-template-columns: 1fr 2fr;
				gap: 0;
			}
		}

		&.has-three-columns {
			grid-template-columns: repeat(3, 1fr);
		}

		&.has-four-columns {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&.lesson-two-example {
		grid-template-columns: auto auto;
		gap: 0;
	}
}