@use "../base/breakpoints";

.wp-block-columns {
	display: grid;
	gap: var(--spacer);

	@include breakpoints.media-breakpoint-up(sm) {
		&.has-two-columns {
			grid-template-columns: repeat(2, 1fr);

			&.has-uneven-columns {
				grid-template-columns: 1fr 2fr;
			}
		}

		&.has-three-columns {
			grid-template-columns: repeat(3, 1fr);
		}

		&.has-four-columns {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}