@use "breakpoints.scss";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;500;700;900&display=swap');

#__next {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

:focus-visible {
	outline: 2px solid var(--c-primary);
	outline-offset: 2px;
}

html {
	font-size: 100%;
}

body {
	background-color: var(--c-white);
	color: var(--c-black);
	font-family: 'Work Sans', sans-serif;
	font-size: var(--fs-0);
	font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	line-height: 1.1;
	margin-top: 72px;
}

h1 {
	color: var(--c-primary);
	font-size: var(--fs-3);
	margin: 0;

	& > span:first-of-type {
		color: var(--c-black);
		display: block;
		font-size: 1.25rem;
		font-weight: 500;
	}

	@include breakpoints.media-breakpoint-up(sm) {
		font-size: var(--fs-4);
	}

	@include breakpoints.media-breakpoint-up(md) {
		font-size: var(--fs-5);
	}
}

h2 {
	font-size: var(--fs-3);
    position: relative;
}

h3 {
	font-size: var(--fs-2);
}

h4 {
	font-size: var(--fs-1);
}

h5 {
	font-size: var(--fs-0);
}

h6 {
	font-size: var(--fs-0);
}

strong {
	font-weight: 700;
}

a {
	color: var(--c-primary);
	text-decoration: underline;
	text-decoration-color: transparent;
	transition-duration: 0.1s;

	&:hover,
	&:focus-visible {
		color: var(--c-blue);
		text-decoration-color: currentColor;
	}
}

pre {
	white-space: pre-line;
}

pre[class*="language-"] {
	margin: 1.5rem 0;
}

code {
	background-color: var(--c-gray);
	padding: 0.125em 0.25em;

	&:focus-visible {
		outline-color: var(--c-white);
	}

	&.invert {
		background-color: #0c0d0b;
	}
}

img {
	height: auto;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0 0.5em 0 0;
	transform: scale(1.25);
}