@use "breakpoints.scss";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;500;700;900&display=swap');

#__next {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

:focus-visible {
	outline: 2px solid var(--c-primary);
	outline-offset: 2px;
}

html {
	font-size: 100%;
}

body {
	background-color: var(--c-white);
	color: var(--c-black);
	font-family: 'Work Sans', sans-serif;
	font-size: var(--fs-0);
	font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	line-height: 1.1;
	margin-top: 72px;
}

h1 {
	color: var(--c-primary);
	font-size: var(--fs-3);
	margin: 0;

	& > span:first-of-type {
		color: var(--c-black);
		display: block;
		font-size: 1.25rem;
		font-weight: 500;
	}

	& .asterisk {
		font-size: 0.25em;
		vertical-align: top;
	}

	& .asterisk-explain {
		display: block;
		margin-top: 2em;
		font-style: italic;
		font-weight: 700;

		& .asterisk {
			font-size: 0.75em;
		}
	}

	@include breakpoints.media-breakpoint-up(sm) {
		font-size: var(--fs-4);
	}

	@include breakpoints.media-breakpoint-up(md) {
		font-size: var(--fs-5);
	}
}

h2 {
	font-size: var(--fs-3);
}

h3 {
	font-size: var(--fs-2);
}

h4 {
	font-size: var(--fs-1);
}

h5 {
	font-size: var(--fs-0);
}

h6 {
	font-size: var(--fs-0);
}

strong {
	font-weight: 700;
}

a {
  	--bg-h: 2px;
	background: linear-gradient(0deg, currentColor, currentColor) no-repeat right bottom / 0 var(--bg-h);
  	transition-property: background-size, color;
	transition-duration: 0.35s;
	color: var(--c-primary);
	text-decoration: none;

	&:hover,
	&:focus-visible {
		background-size: 100% var(--bg-h);
		background-position-x: left;
		color: var(--c-blue);
	}
}

pre {
	white-space: pre-line;
}

pre[class*="language-"] {
	margin: 1.5rem 0;
}

code {
	background-color: var(--c-gray);
	padding: 0.125em 0.25em;

	&:focus-visible {
		outline-color: var(--c-white);
	}

	&.invert {
		background-color: rgb(0 0 0 / 75%);
	}
}

img {
	height: auto;
}

input[type="radio"] {
	margin-right: 0.5em;
}
